<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HledaciAlgoritmy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HledaciAlgoritmy.Properties.Settings>
            <setting name="Vykreslovani" serializeAs="String">
                <value>objekty</value>
            </setting>
            <setting name="_Vykreslovani" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VychoziCesta" serializeAs="String">
                <value />
            </setting>
            <setting name="CestaObr1" serializeAs="String">
                <value />
            </setting>
            <setting name="CestaObr2" serializeAs="String">
                <value />
            </setting>
            <setting name="CestaObr3" serializeAs="String">
                <value />
            </setting>
            <setting name="CestaObr4" serializeAs="String">
                <value />
            </setting>
            <setting name="BarvaCesta" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="BarvaProhledany" serializeAs="String">
                <value>192, 64, 0</value>
            </setting>
            <setting name="tb1" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="tb2" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="start" serializeAs="String">
                <value>Images\obj1.png|Start|0|True|True|1</value>
            </setting>
            <setting name="konec" serializeAs="String">
                <value>Images\obj2.png|Konec|0|True|False|0</value>
            </setting>
            <setting name="zed" serializeAs="String">
                <value>Images\obj3.png|Zed|0|False|False|0</value>
            </setting>
            <setting name="silnice" serializeAs="String">
                <value>Images\obj4.png|Cesta|0|True|False|0</value>
            </setting>
            <setting name="Obj5" serializeAs="String">
                <value>Images\obj5.png|Les|80|True|False|0</value>
            </setting>
            <setting name="Obj6" serializeAs="String">
                <value>Images\obj6.png|Voda|0|False|False|0</value>
            </setting>
            <setting name="Obj7" serializeAs="String">
                <value>Images\obj7.png|None|0|True|False|0</value>
            </setting>
            <setting name="Obj8" serializeAs="String">
                <value>Images\obj8.png|None|0|True|False|0</value>
            </setting>
            <setting name="ObrazkyObjs" serializeAs="String">
                <value />
            </setting>
        </HledaciAlgoritmy.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>